header{
    position: absolute;
    top:17px;
    left:0;
    width: 100%; 
}
.ba-main-menu{
    
    a{
        color: $black;
        &:hover{
            color: lighten($primary-color, 20%);
        }
    }
}
.off-canvas{
    .menu{
        a{
            padding: 10px;
        }
    }
}
.ba-header-header{
    background: $light-primary;
}