header{
    @include breakpoint(medium){
        position: absolute;
        top:17px;
     left:0;
    width: 100%; 
    }
    
}
.menu{
    li{
        padding-left:60px;
        font-size: 24px;
        line-height: 29px;
    }
    a{
        
        &:hover{
            color: $body-font-color;
           
        }
    }
}
.off-canvas{
    .menu{
        a{
            padding: 10px;
        }
    }
}
.ba-header-header{
    background: $light-primary;
    
}