<footer class="ba-footer">
    <div class="row">
        <div class="column medium-6">
            <div class="ba-copyright flex-container show-for-medium align-left">
                © 2019 JobAbroad, Inc. All rights reserved
            </div>
            <!-- end/ba-copyright -->
        </div>
        <!-- /.column small-6 -->
        <div class="column  medium-6">
            <div class="ba-socials flex-container show-for-medium align-right">
                <a href="#" aria-label="Twitter">
                    <svg width="24" height="24">
                        <use xlink:href="#icon-twitter" />
                    </svg>
                </a>
           
                <a href="#" aria-label="Facebook">
                    <svg width="24" height="24">
                        <use xlink:href="#icon-facebook" />
                    </svg>
                </a>
                <a href="#" aria-label="Instagram">
                    <svg width="24" height="24">
                        <use xlink:href="#icon-instagram" />
                    </svg>
                </a>
            </div>
            <!-- /.ba-socials -->
        </div>
                <!-- /.column small-6 -->
    </div>
    <!-- /.row-->
        <div class="row">
        <div class="column  medium-12">
                <div class="ba-socials flex-container hide-for-medium align-center">
                    <a href="#" aria-label="Twitter">
                        <svg width="24" height="24">
                            <use xlink:href="#icon-twitter" />
                        </svg>
                    </a>
               
                    <a href="#" aria-label="Facebook">
                        <svg width="24" height="24">
                            <use xlink:href="#icon-facebook" />
                        </svg>
                    </a>
                    <a href="#" aria-label="Instagram">
                        <svg width="24" height="24">
                            <use xlink:href="#icon-instagram" />
                        </svg>
                    </a>
                </div>
                <!-- /.ba-socials -->
            </div>
            <!-- /.column small-6 -->
    </div>
    <!-- /.row -->
</footer>
<!-- /.ba-footer -->