<nav>
    <ul class="menu vertical">
        <li {{#ifpage 'index'}}class="active"{{/ifpage}}>
            <a href="index.html">Become a host</a>
        </li>
        <li {{#ifpage 'index'}}class="active"{{/ifpage}}>
            <a href="index.html">Sign up</a>
        </li>
        <li {{#ifpage 'index'}}class="active"{{/ifpage}}>
            <a href="index.html">Sign in</a>
        </li>
        <li {{#ifpage 'index'}}class="active"{{/ifpage}}>
            <a href="index.html">About service</a>
        </li>
    </ul>
</nav>